@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.bar-style {
		@apply w-full dark:bg-darkBlue500 bg-gray-100 shadow-lg font-josefinSans py-[1.15rem] px-5;
	}

	.bar-text-style {
		@apply text-lg text-gray-600 dark:text-gray-300;
	}

	.bar-hover-style {
		@apply dark:hover:text-lightBlue200 hover:text-gray-700 transition duration-100;
	}
}

.checkBox {
	position: relative;
}

.checkBox:checked {
	background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.checkBox:checked::after {
	content: url("../../assets/icon-check.svg");
	position: absolute;
	left: 0.35em;
	top: -0.05em;
}
